*
    font-family: 'Nunito', sans-serif
html
    scroll-behavior: smooth
body
    background: #FFFFFF 
    font-family: Nunito  
h2
  font-size: 24px
  font-weight: 700
  line-height: 33px
  margin-bottom: 40px
h3
  font-size: 20px
  font-weight: 600
  line-height: 27px
p
  font-size: 14px
  font-weight: 400
  line-height: 19px
  color: #73798C
a
  text-decoration: none
  font-weight: 400
  text-align: left
  color: #000000
ul
    list-style: none  
button
  height: 40px
  width: 120px
  left: 110px
  top: 330px
  border-radius: 1000px
  color: #D15700
  border: none
  background: #FFF0E6

  &:hover
    background-color: #F96900
    color:#ffffff

.container
    max-width: 1060px
    margin: 0 auto
    padding: 0 20px
    overflow: hidden
section
    margin-top:70px    
      
.header__info
    margin-top: 28px
    display: flex
    align-items: center
    justify-content: space-between
    &__num
        a
            font-weight: 600
            font-size: 18px
            line-height: 24.5px
.header__choice
    margin-top: 41px
    display: flex
    align-items: center
    justify-content: space-between
    ul
        display: flex
        align-items: center
        justify-content: space-between
        gap:23px
        li
            a
                font-size: 14px
                line-height: 19.1px
                &:hover
                    color: #F96900
.header__photo
    margin-top: 38px
    img
       height: 300px
       width: 1060px
       border-radius: 20px

.main__new
   h2
        margin-top: 70px
        margin-bottom: 30px

   &__popular
        display: flex
        justify-content: space-between
        gap: 20px
        &__card
            display: flex
            gap:22px
            align-items: center
            height: 104px
            width: 251px
            border-radius: 10px
            overflow: hidden
            box-shadow: 0px 6px 25px 0px #0605320D
            img
                padding-left: 18px    
            &__price
                p 
                    font-size: 16px
                    font-weight: 600
                    line-height: 22px
                    color: #000000
                h3
                    font-size: 14px
                    font-weight: 400
                    line-height: 19px
.main__content
    padding-top:40px 
    display: grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: 20px
    row-gap: 60px
.card
    max-width: 250px
    display: flex
    flex-direction: column
    img
        padding: 0 15px
    h3
        margin-top: 5px
    p
        margin-top: 10px
        flex:1
    &__buy
        margin-top:30px
        display: flex
        align-items: center
        justify-content: space-between
        p
            font-size: 16px
            font-weight: 600
            line-height: 22px
            color: #000000
.card__buy__plus
    background: #F3F3F7
    display: flex
    justify-content: space-between
    align-items: center 
    p
        text-align: center
        padding-bottom: 9px
footer
    margin-top: 134px
    background: #464C55
    a,h4,p
         color:#ffffff
.footer__info
    margin-top:50px
    display: flex
    justify-content: space-between 
    &__list
        display: flex
        justify-content: space-between
        gap:35px
        max-width:670px
        &__link
            h4
                font-size: 18px
                font-weight: 600
                line-height: 26px
            li
                margin-top: 10px    
                a
                    font-size: 18px
                    line-height: 26px
.footer__info__contacts
   a
        img
            display: inline
   &__tel
        margin-top: 29px
        text-align: right
        a
            font-size: 26px
            font-weight: 600
            line-height: 26px
        p
            font-size: 15px
            font-weight: 400
            line-height: 20px
            margin-top: 6px
        &__mail
            margin-top: 26px
            a
                font-size: 15px
                font-weight: 400
                line-height: 20px
.footer__middle
    margin-top: 93px
    max-width: 696px
    display: flex
    justify-content: space-between
    align-items: center
    &__num
        max-width: 299px
    &__country
        max-width:241px      
    p
        font-size: 26px
        font-weight: 600
        line-height: 26px
    & p:last-of-type
        font-size: 16px
        font-weight: 400
        line-height: 22px
        margin-top: 12px
hr
    border: 1px solid #FFFFFF
    margin-top:40px
.footer__end
    margin-top: 46px
    padding-bottom:44px
    display: flex
    align-items: center
    justify-content: space-between
    &__info
        ul
            display: flex
            justify-content: space-between
            align-items: center 
            gap: 20px
    &__social
        ul
            display: flex
            justify-content: space-between
            align-items: center 
            gap: 5px
            

                 

            



                
            


                



            
       
         


            







    

            
            







    


                   

                 

   

    
  
       
                   

                



        