* {
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #FFFFFF;
  font-family: Nunito;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 40px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #73798C;
}

a {
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  color: #000000;
}

ul {
  list-style: none;
}

button {
  height: 40px;
  width: 120px;
  left: 110px;
  top: 330px;
  border-radius: 1000px;
  color: #D15700;
  border: none;
  background: #FFF0E6;
}
button:hover {
  background-color: #F96900;
  color: #ffffff;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
}

section {
  margin-top: 70px;
}

.header__info {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__info__num a {
  font-weight: 600;
  font-size: 18px;
  line-height: 24.5px;
}

.header__choice {
  margin-top: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__choice ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 23px;
}
.header__choice ul li a {
  font-size: 14px;
  line-height: 19.1px;
}
.header__choice ul li a:hover {
  color: #F96900;
}

.header__photo {
  margin-top: 38px;
}
.header__photo img {
  height: 300px;
  width: 1060px;
  border-radius: 20px;
}

.main__new h2 {
  margin-top: 70px;
  margin-bottom: 30px;
}
.main__new__popular {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main__new__popular__card {
  display: flex;
  gap: 22px;
  align-items: center;
  height: 104px;
  width: 251px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 25px 0px rgba(6, 5, 50, 0.0509803922);
}
.main__new__popular__card img {
  padding-left: 18px;
}
.main__new__popular__card__price p {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #000000;
}
.main__new__popular__card__price h3 {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.main__content {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 60px;
}

.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
}
.card img {
  padding: 0 15px;
}
.card h3 {
  margin-top: 5px;
}
.card p {
  margin-top: 10px;
  flex: 1;
}
.card__buy {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__buy p {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #000000;
}

.card__buy__plus {
  background: #F3F3F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__buy__plus p {
  text-align: center;
  padding-bottom: 9px;
}

footer {
  margin-top: 134px;
  background: #464C55;
}
footer a, footer h4, footer p {
  color: #ffffff;
}

.footer__info {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.footer__info__list {
  display: flex;
  justify-content: space-between;
  gap: 35px;
  max-width: 670px;
}
.footer__info__list__link h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}
.footer__info__list__link li {
  margin-top: 10px;
}
.footer__info__list__link li a {
  font-size: 18px;
  line-height: 26px;
}

.footer__info__contacts__img img {
  display: inline;
}
.footer__info__contacts__tel {
  margin-top: 29px;
  text-align: right;
}
.footer__info__contacts__tel a {
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
}
.footer__info__contacts__tel p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 6px;
}
.footer__info__contacts__tel__mail {
  margin-top: 26px;
}
.footer__info__contacts__tel__mail hr {
  display: none;
}
.footer__info__contacts__tel__mail a {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.footer__middle {
  margin-top: 93px;
  max-width: 696px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__middle__num {
  max-width: 299px;
}
.footer__middle__country {
  max-width: 241px;
}
.footer__middle p {
  font-size: 26px;
  font-weight: 600;
  line-height: 26px;
}
.footer__middle p:last-of-type {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 12px;
}

.footer__line {
  border: 1px solid #FFFFFF;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 30px;
}

.footer__end {
  margin-top: 46px;
  padding-bottom: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__end__info ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.footer__end__social hr {
  display: none;
}
.footer__end__social ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

@media (max-width: 992px) {
  .main__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .main__new__popular {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__info__contacts__tel {
    text-align: center;
  }
  .footer__end {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .main__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .footer__info__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .footer__info__contacts__tel__info {
    display: none;
  }
  .footer__middle {
    display: none;
  }
  .footer__info__contacts {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
  }
  .footer__info__contacts__img a {
    display: inline-block;
  }
  .footer__info__contacts__tel {
    margin: 0px;
  }
  .footer__info__contacts__tel__mail {
    text-align: left;
  }
  .footer__info__contacts__tel hr {
    display: block;
    margin-top: 20px;
  }
  .footer__line {
    display: none;
  }
  .footer__end {
    flex-direction: column-reverse;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .footer__end__info {
    margin-right: auto;
  }
  .footer__end__info ul {
    flex-direction: column;
    gap: 10px;
  }
  .footer__end__social {
    margin-right: auto;
  }
  .footer__end__social hr {
    display: block;
    margin: 0;
  }
}
@media (max-width: 576px) {
  .header__info {
    margin-top: 12px;
  }
  .header__info__num {
    display: none;
  }
  .main__content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 0px;
    padding-top: 20px;
  }
  .card {
    flex-direction: row;
    align-items: center;
    max-width: 576px;
    gap: 7px;
  }
  .card img {
    width: 115px;
    padding: 0px;
  }
  .card h3 {
    padding: 16px 10px 0px 0px;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
  }
  .card__buy {
    display: flex;
    flex-direction: column;
  }
  h2 {
    margin-bottom: 0px;
  }
  footer {
    margin-top: 40px;
  }
}/*# sourceMappingURL=style.css.map */