*
    font-family: 'Nunito', sans-serif
html
    scroll-behavior: smooth
body
    background: #FFFFFF   
h2
  font-family: Nunito
  font-size: 24px
  font-weight: 700
  line-height: 33px
h3
  font-family: Nunito
  font-size: 20px
  font-weight: 600
  line-height: 27px
 
  
p
  font-family: Nunito
  font-size: 14px
  font-weight: 400
  line-height: 19px
  color: #73798C

a
  text-decoration: none
  font-family: Nunito
  font-weight: 400
  text-align: left
  color: #000000
ul
    list-style: none  
button
  height: 40px
  width: 120px
  left: 110px
  top: 330px
  border-radius: 1000px
  color: #D15700
  border: none
  background: #FFF0E6

  &:hover
    background-color: #F96900
    color:#ffffff

.container
    max-width: 1060px
    margin: 0 auto
    padding: 0 20px
    overflow: hidden
section
    margin-top:70px    
      
.header__info
    margin-top: 28px
    display: flex
    align-items: center
    justify-content: space-between
    &__num
        a
            font-weight: 600
            font-family: 18px
            line-height: 24.5px
.header__choice
    margin-top: 41px
    display: flex
    justify-content: space-between
    ul
        display: flex
        align-items: center
        justify-content: space-between
        gap:23px
        li
            a
                font-family: 14px
                line-height: 19.1px
                &:hover
                    color: #F96900
.header__photo
    margin-top: 38px
    img
       height: 300px
       width: 1060px
       border-radius: 20px
main
    padding-top: 30px
    padding-bottom: 134px
.main__new
    &__popular
        display: flex
        justify-content: space-between
        gap: 20px
        &__card
            display: flex
            gap:22px
            align-items: center
            height: 104px
            width: 251px
            border-radius: 10px
            overflow: hidden
            img
                padding-left: 18px    
            &__price
                p 
                    font-size: 16px
                    font-weight: 600
                    line-height: 22px
                    color: #000000
                h3
                    font-size: 14px
                    font-weight: 400
                    line-height: 19px
.main__content
    margin-top: 40px
    display: grid
    grid-template-columns: repeat(4, 1fr)
    column-gap: 20px
    row-gap: 60px
.card
    max-width: 250px
    display: flex
    flex-direction: column
    img
        padding: 0 15px
    h3
        margin-top: 5px

    p
        margin-top: 10px
        flex:1
    &__buy
        margin-top:30px
        display: flex
        align-items: center
        justify-content: space-between
        p
            font-size: 16px
            font-weight: 600
            line-height: 22px
            color: #000000
.card__buy__plus
    background: #F3F3F7
    display: flex
    justify-content: space-between
    align-items: center 
    p
        text-align: center
        padding-bottom: 9px



    

            
            







    


                   

                 

   

    
  
       
                   

                



        